@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
.{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
html,body{
    height:90%;
}
body {
    display: grid;
    place-items: center;
    font-family: 'Open Sans ', sans-serif;
    background: #dde1e7;
    text-align:center;
}
.content {
    width: 500px;
    background: #dde1e7;
    border-radius:10px;
    padding:40px 40px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);   
}
.content .text{
    font-size:33px;
    font-weight:600;
    margin-bottom:35px;
    color: #595959;
    font-family: 'Audiowide', cursive;
}
.content .field{
    height:50px;
    width:100%;
    display:flex;
    position:relative;
    margin-bottom:35px;
}
.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73;
}
.field input:focus {
    box-shadow: inset 1px 1px 2px #babecc,inset -1px -1px 2px #ffffff73;
}
.field:nth-child(2){
    margin-top:20px;
}
.field span{
    position:absolute;
    width:50px;
    line-height:50px;
    color: #595959;
}
.field label {
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
}
.field input:focus ~ label {
    color: #595959;
}
.field input:valid ~ label{
    opacity:0;
}
.forgotpass{
    text-align:left;
    margin:20px 0 10px 5px;
}
.forgotpass a{
    font-size:16px;
    color:#3498db;
    text-decoration:none;    
}
.forgotpass:hover a{
    text-decoration:underline;
}
button {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background: #20d8da;
    border: none;
    outline:none;
    color: #595959;
    cursor:pointer;
    border-radius:25px;
    box-shadow: 2px 2px 5px #babecc,-5px -5px 10px #ffffff73;
}
button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,inset -5px 10px #ffffff73;
}
.signup{
    font-size:16px;
    color: #595959;
    margin:10px 0;
}
.signup a {
    color: #3498db;
    text-decoration: none;
    padding-left:5px;
}
.signup a:hover{
    text-decoration:underline;
}
.gohome {
    padding-top: 50px;
    text-align: left;  
}
.gohome i{
    padding-right:5px;
    color:#595959;
    font-size:15px;
}
.gohome a {
    font-size: 16px;
    color: #595959;
    margin: 10px 0;
    text-decoration:none;
}
.gohome a:hover{
    text-decoration:underline;
    
}
.preloader {
    background-color: #20d8da;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

    .preloader .spinner {
        width: 70px;
        text-align: center;
    }

        .preloader .spinner div {
            width: 18px;
            height: 18px;
            background-color: #fff;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .preloader .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .preloader .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}